body {
  margin: 0;
  padding: 0;
  opacity: 0;  
  animation: ani 2.5s forwards;

  background: #bbbbbb;
  /* background: linear-gradient(150deg, rgba(28,0,36,1) 0%, rgba(30,30,148,1) 35%, rgba(90,0,175,1) 100%);  */
  background-repeat: no-repeat;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
@keyframes ani {  
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
  background-color: #999999;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;

  width:100%;
  color: #000000;
  font-family:sans-serif
}

.column {
  width: 50%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.btns{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.btn {
  padding: 5px;
  height: 40px;
  min-width:160px;
  font-weight: 700;
}

.mr-skeletor {
  cursor: pointer;
  width: 480px;
  height:300px;
  background-image: url("./assets/skeletor/skeletor-on-the-ground.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
    @media (max-width:800px) {
      width:320px;
      height:200px;      
    }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width:100%;

  padding: 5px 0;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-date {
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  font-size: larger;
  font-weight: 700;
}

.joke-holder {
  padding: 10px;
  font-weight: 700;
}

.animation-shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}